@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-align: center;
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  background: linear-gradient(300deg, deepskyblue, darkviolet, blue, #09021b, #1e2023);
  background-size: 300% 300%;
  animation: gradient-animation 35s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.pacifico-regular {
  font-family: "Pacifico", cursive;
};




