@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'daisyui/dist/full.css';


:root {
  text-align: center;
  margin: 0 auto;
}

/* :root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
} */

html {
  scroll-behavior: smooth;
}

.text-vw {
  font-size: 10vw;
}

/* Cursor Section */
.custom-cursor {
  position: fixed;
  width: 6px;
  /* Inner black circle size */
  height: 6px;
  background-color: whitesmoke;
  /* Inner circle color */
  border: 3px solid transparent;
  /* To avoid default border around the element */
  border-radius: 50%;
  /* Make it a circle */
  pointer-events: none;
  /* Prevent interaction with elements */
  z-index: 99999;
  /* Make sure it stays on top */
  transform: translate(-50%, -50%);
  /* Center the cursor on the mouse */
}

.custom-cursor-two {
  position: fixed;
  padding: 10px;
  /* Inner circle color */
  border: 1px solid yellowgreen;
  /* To avoid default border around the element */
  border-radius: 50%;
  /* Make it a circle */
  pointer-events: none;
  /* Prevent interaction with elements */
  z-index: 999;
  /* Make sure it stays on top */
  transform: translate(-50%, -50%);
  /* Center the cursor on the mouse */
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  /* background-color: #336DFF; */
  /* background: linear-gradient(300deg, deepskyblue, darkviolet, blue, #09021b, #1e2023); */
  /* background: linear-gradient(300deg, #020617, #1e2023, #1e2023, #09021b, #1e2023); */
  background: #020617;
  background-size: 300% 300%;
  animation: gradient-animation 10s ease infinite;
}

.wrapperimg {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* background-color: #336DFF; */
  /* background: linear-gradient(300deg, deepskyblue, darkviolet, blue, #09021b, #1e2023); */
  background: linear-gradient(300deg, yellow, darkviolet, #020617, blue, green, #1e2023);
  /* background: linear-gradient(300deg, #020617, #1e2023, #1e2023, #09021b, #1e2023); */
  background-size: 300% 300%;
  opacity: 40px;
  animation: gradient-animation 10s ease infinite;
}

.wrapperbt {
  max-width: 1280px;
  margin: 0 auto;
  /* background-color: #336DFF; */
  /* background: linear-gradient(300deg, deepskyblue, darkviolet, blue, #09021b, #1e2023); */
  background: linear-gradient(300deg, yellow, darkviolet, blue, green, #1e2023);
  /* background: linear-gradient(300deg, yellow red green deepskyblue, #14919B, #213A57, #09021b, #1e2023); */
  /* background: linear-gradient(300deg, #1e2023, #1e2023, #1e2023, #09021b, #1e2023); */
  background-size: 300% 300%;
  animation: gradient-animation 10s ease infinite;
}

.wrapperhire {
  max-width: 1280px;
  margin: 0 auto;
  /* background-color: #336DFF; */
  /* background: linear-gradient(300deg, deepskyblue, darkviolet, blue, #09021b, #1e2023); */
  background: linear-gradient(300deg, deepskyblue, #1e2023, blue, #09021b, #1e2023);
  background-size: 300% 300%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* ///////////////////////////    < Google Font >  //////////////////////////////////////////// */

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

.arima-font {
  font-family: "Arima";
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.pacifico-regular {
  font-family: "Pacifico", cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Jersey+20+Charted&display=swap');

.jersey-20-charted-regular {
  font-family: "Jersey 20 Charted", sans-serif;

}


@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

.akaya-regular {
  font-family: "Akaya Kanadaka";
}




.menu {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  color: black;
  transition: all .35s ease;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: blue;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover {
    color: black;

    &::before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

.hover-underline-animation {
  display: inline-block;
  /* Display inline block */
  position: relative;
  /* Set position relative */
  color:
    whitesmoke;
  /* Set text color */
}

.hover-underline-animation:after {
  content: '';
  /* Add content after the element */
  position: absolute;
  /* Position absolute for pseudo-element */
  width: 100%;
  /* Full width */
  transform: scaleX(0);
  /* Initial scale of 0 for underline effect */
  height: 2px;
  /* Height of the underline */
  bottom: 0;
  /* Align to bottom */
  left: 0;
  /* Align to left */
  background-color:
    yellow;
  /* Background color of the underline */
  transform-origin: bottom right;
  /* Set transform origin */
  transition: transform 0.25s ease-out;
  /* Transition effect for the underline */
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  /* Scale the underline on hover */
  transform-origin: bottom left;
  /* Set transform origin */
}

header.nav-fixed {
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
}

.nav-active {
  background-color: #fff;
  box-shadow: 5px -1px 12px -5px grey;
}

/* Border CSS */

.block1 {
  position: relative;
  margin: 1px auto 0;
  /* border-radius: 50%; */
  /* width: 20px; */
  /* height: 10px; */
  background: linear-gradient(0deg, #000, blue);
}

.block1:before,
.block1:after {
  content: '';
  position: absolute;
  border-radius: 20px;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
      #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.block1:after {
  filter: blur(50px);
}


.swiper {
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  /* font-size: 18px; */
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}


/* Keen Slider  */

/* [class^="number-slide"],
[class*=" number-slide"] {
  max-height: 100vh;
} */


